<launch>
  <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_filter" >
    <rosparam command="load" file="$(find marvin_bringup)/config/laser_config.yaml" />
    <remap from="scan" to="/scan/multi" />
    <remap from="scan_filtered" to="/marvin/laser/scan_filtered" />
  </node>
</launch>
